body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hcom-header {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: relative;
}
.language-currency {
  background-image: url('assets/language_currency.png');
  width: 118px;
  height: 28px;
  margin-top: -32px;
}
.global-rightside {
  background-image: url('assets/globalHeader-rightSide.png');
  width: 116px;
  height: 37px;
}
.subNav-rightSide {
  background-image: url('assets/subNav-rightSide.png');
  width: 367px;
  height: 32px;
}
.global-header,
.sub-header,
.search-header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.global-header {
  background-color: #d32f2f;
}
.sub-header {
  background-color: #333;
}
.search-header-container {
  background-color: #eae8e0;
}
.global-nav,
.global-nav2,
.sub-nav,
.sub-nav2,
.search-header,
.page-sizing {
  width: 1160px;
  margin: 0 auto;
}
.global-nav {
  height: 59px;
  background-image: url(../src/assets/nav.png);
}
.global-nav2 {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.global-nav2 svg {
  transform: scale(2) translateX(30px);
}
.nav-list {
  display: flex;
  justify-content: flex-end;
}

.globalNav-listItem {
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-left: 16px;
  margin-right: 16px;
}
.sub-nav {
  height: 32px;
  background-image: url(../src/assets/subnav.png);
}
.sub-nav2 {
  background-color: #333333;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.sub-nav2 .subNav-listItem {
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 20px;
}
.search-header {
  height: 106px;
  background-image: url(../src/assets/search-header.png);
}
.hero-image {
  background-image: url('assets/HCOMHeroImage.jpg');
  background-position: center;
  background-size: cover;
  height: 423px;
  width: 100%;
}
.page-sizing {
  display: flex;
  align-items: center;
  height: 423px;
}
.search-box {
  background-image: url('assets/homepage-search.png');
  height: 373px;
  width: 359px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.button-primary {
  position: absolute;
  background-color: #156bc1;
  font-size: 22px;
  font-weight: bold;
  border: 1px solid #156bc1;
  border-radius: 2px;
  box-shadow: inset 0 -2px 0 #063665;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  overflow: hidden;
  padding: 4px 16px;
  top: 319px;
  right: 16px;
}
.button-primary:hover {
  background-color: #063665;
}
.button-invisible {
  position: absolute;
  height: 40px;
  cursor: pointer;
}
.button-invisible.marriottHotel {
  top: 443px;
  left: 260px;
  width: 280px;
}
.button-invisible.pier2620Hotel {
  top: 150px;
  left: 260px;
  width: 240px;
}
.button-invisible.searchResults {
  width: 170px;
  height: 45px;
}
.button-invisible.home {
  width: 300px;
  height: 60px;
  top: 0;
  left: 0;
}
.homepage-ads {
  background-image: url('assets/HCOMHomeAds.png');
  width: 1160px;
  height: 1070px;
  margin: 0 auto;
}
.search-results-body {
  position: relative;
  background-image: url('assets/HCOMSearchResults.png');
  height: 2239px;
  width: 1160px;
  margin: 0 auto;
}
.pier2620-pdp {
  position: relative;
  background-image: url('assets/HCOMPier1260.png');
  width: 1160px;
  height: 1762px;
  margin: 0 auto;
}
.marriott-pdp {
  position: relative;
  background-image: url('assets/HCOMMarriott.png');
  width: 1160px;
  height: 1750px;
  margin: 0 auto;
}
.searchAmenities.pdp {
  position: absolute;
  top: 1340px;
  left: 33px;
}
.searchAmenities > label {
  display: none;
}
.searchAmenities.pdp > label {
  display: block;
  font-size: 14px;
  font-weight: bold;
}
.searchAmenities.pdp .search-container {
  display: flex;
  margin-top: 9px;
  background-color: #ffffff;
  width: 450px;
  height: 30px;
  border: 1px solid #8e8e8e;
  border-radius: 4px;
}
.search-container > input {
  box-sizing: border-box;
  font-size: 14px;
  border: none;
  background-color: transparent;
  width: 90%;
  height: 30px;
  padding: 3px 3px 3px 10px;
}
.search-container .amenity-submit {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 30px;
  width: 10%;
  transition: opacity 0.3s ease;
}
.amenity-submit:hover > svg {
  fill: blue;
}
.amenity-submit > svg {
  transform: scale(0.75) translateY(1px) translateX(5px);
  fill: #146bc0;
}
.c3container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 408px;
  height: 638px;
  top: calc(100vh - 638px);
  right: calc((100vw - 1160px - 16px) / 2);
  background-color: #ffffff;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.33);
  transition: transform 0.3s ease-in-out;
  transform: translateY(658px);
}
.c3container.is-visible {
  transform: translateY(0);
}
.c3container.is-docked {
  transform: translateY(598px);
}
.header-container {
  padding: 20px;
  display: flex;
}
.header-container.hcom {
  background-color: #e6e6e6;
}
.hcom-avatar {
  height: 47px;
  width: 46px;
  background-image: url('./assets/hcom-gary.png');
  margin-right: 20px;
}
.welcome-text > p {
  padding: 0;
  margin: 0;
}
.welcome-text > title {
  font-size: 19px;
  color: #333333;
}
.welcome-text > .subtitle {
  font-size: 14px;
  line-height: 20px;
  color: #525252;
}

.c3header {
  position: relative;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d42926;
  color: #ffffff;
}
.c3title {
  width: 100%;
  text-align: center;
}
.c3close {
  height: 18px;
  width: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: local;
  background-origin: content-box;
  opacity: 0.5;
  cursor: pointer;
  margin-right: 12px;
  transition: opacity 0.3s ease;
}
.c3close svg {
  color: #ffffff;
}
.c3close:hover {
  opacity: 1;
}
.c3more {
  height: 24px;
  width: 24px;
  position: absolute;
  right: 32px;
  background-image: url('assets/icon-more.png');
  background-repeat: no-repeat;
  background-position: 4px 15px;
  cursor: pointer;
}
.c3body {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 20;
  max-height: 552px;
}
.c3footer .search-container {
  display: flex;
  height: 46px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #cccccc;
}
.c3footer .typeMessage {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.chat-messages {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 20px 0 52px;
}
.chat-messages-end {
  background-color: pink;
}
.messageBubble {
  display: block;
}
.messageInput {
  width: 80%;
  padding: 10px;
  margin-left: 6px;
  border: none;
  background-color: transparent;
  font-size: 14px;
}
.messageSubmit {
  width: 20%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #cccccc;
}
.messageSubmit:hover {
  color: #222222;
}
.chat-container {
  position: relative;
  max-width: 252px;
  border: 1px solid #dbdbe0;
  border-radius: 8px 8px 0 8px;
  margin: 16px 0 24px;
  float: right;
}
.chat-container.agent {
  border-radius: 8px 8px 8px 0;
  float: left;
}
.chat-all {
  /* display: flex;
  flex-direction: column; */
  width: 320px;
}
.chat-avatar {
  position: absolute;
  bottom: 0;
  right: -32px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-image: url('assets/customer-avatar.png');
  display: none;
}
.chat-container.agent .chat-avatar {
  display: block;
  left: -32px;
  right: auto;
  background-image: url('assets/avatar-hcom.png');
}
.chat-photo {
  display: none;
  width: 252px;
  height: 137px;
  background-size: cover;
  background-position: center;
  border-radius: 8px 8px 0 0;
}
.chat-photo.pool-photo {
  display: block;
  background-image: url('assets/pool-1.jpg');
}
.chat-photo.pool-photo2 {
  display: block;
  background-image: url('assets/pool-2.jpg');
}
.chat-message {
  padding: 16px;
  font-size: 14px;
  line-height: 20px;
  color: #00001e;
}
.chat-message > ul {
  padding: inherit;
  margin: 0;
}
.chat-buttons {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: inherit;
}
.chat-buttons .chat-button {
  display: flex;
  align-items: center;
  height: 44px;
  border: 2px solid blue;
  padding: 0 16px;
  border-radius: 24px;
  font-size: 14px;
  color: #222222;
  white-space: nowrap;
  cursor: pointer;
  text-indent: 0;
  margin: 8px 8px 0 0;
}
.name-date {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 12px;
  color: #666679;
  white-space: nowrap;
  float: right;
}
.chat-container.agent .name-date {
  right: auto;
  left: 0;
}
.chat-container.agent .name-date .message-name::before {
  content: 'Virtual agent';
  font-weight: bold;
}
.message-name {
  margin-right: 8px;
}
